.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;

  border-left: 1px solid rgb(172, 172, 172);
  border-bottom: 1px solid rgb(172, 172, 172);
}

.date-container {
  width: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}